<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Bogsamling</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/books">Alle Bøger</a>
            <a href="/books/new">Tilføj Bog</a>
        </nav>
        {{{body}}}
    </div>
</body>
</html>