<h1>{{title}}</h1>

<!-- TODO: Lav en form (ligesom create, men...) -->

<!-- method="POST" action="/books/{{book.id}}/update" -->

<!-- Input felter skal have value="{{book.title}}" osv. -->

<!-- 2 knapper: -->

<!-- 1. Submit: "Gem Ændringer" -->

<!-- 2. Link tilbage: "Annuller" -->

<!-- DIN KODE HER --> 