.productCard{
    background-color: deeppink;
    width: 25%;
    &__image{
        width: 100%;

    }
    &__category{

    }
    &__title{

    }
    &__price{

    }
    &__rating{

    }
    &__functions{
        
    }
}